.header{
    border-radius: 10px;
    border:1px solid #1688f0;
    height:37vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:1em;
    font-size:24px;
    background:white;
    color:white;
}

@media (max-width: 700px) {
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding:0;
        font-size:24px;
        background:white;
        color:white;
    }   
}